@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}
.footer{
  
}

.iconsFooter{
  display: inline-flex;
}
.iconsFooter a{
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  display: block;
  height: 55px;
  position: relative;
}
.iconsFooter a .layer{
  width: 55px;
  height: 55px;
  transition: transform 0.5s;
}
.iconsFooter a:hover .layer{
  transform: rotate(-35deg) skew(20deg);
}
.iconsFooter a .layer span{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: all 0.3s;
}
.iconsFooter a .layer span.fab{
  font-size: 30px;
  line-height: 55px;
  text-align: center;
}
.iconsFooter a:hover .layer span:nth-child(1){
  opacity: 0.2;
}
.iconsFooter a:hover .layer span:nth-child(2){
  opacity: 0.4;
  transform: translate(5px, -5px);
}
.iconsFooter a:hover .layer span:nth-child(3){
  opacity: 0.6;
  transform: translate(10px, -10px);
}
.iconsFooter a:hover .layer span:nth-child(4){
  opacity: 0.8;
  transform: translate(15px, -15px);
}
.iconsFooter a:hover .layer span:nth-child(5){
  opacity: 1;
  transform: translate(20px, -20px);
}
.fa a .layer span,
.fa a .text{
  color: #4267B2;
  border-color: #4267B2;
}
.tw a .layer span,
.tw a .text{
  color: #1DA1F2;
  border-color: #1DA1F2;
}
.inst a .layer span,
.inst a .text{
  color: #E1306C;
  border-color: #E1306C;
}
.li a .layer span,
.li a .text{
  color: #2f72c5;
  border-color: #2867B2;
}
.em a .layer span,
.em a .text{
  color: #aa0a0a;
  border-color: #ff0000;
}
.iconsFooter a:hover:nth-child(1) .layer span{
  box-shadow: -1px 1px 3px #4267B2;
}
.iconsFooter a:hover:nth-child(2) .layer span{
  box-shadow: -1px 1px 3px #1DA1F2;
}
.iconsFooter a:hover:nth-child(3) .layer span{
  box-shadow: -1px 1px 3px #E1306C;
}
.iconsFooter a:hover:nth-child(4) .layer span{
  box-shadow: -1px 1px 3px #2867B2;
}
.iconsFooter a:hover:nth-child(5) .layer span{
  box-shadow: -1px 1px 3px #ff0000;
}
.iconsFooter a .text{
  position: absolute;
  left: 50%;
  bottom: -10px;
  opacity: 0;
  font-weight: 500;
  transform: translateX(-50%);
  transition: bottom 0.3s ease, opacity 0.3s ease;
}
.iconsFooter a:hover .text{
  bottom: -35px;
  opacity: 1;
}

/*Button to the end*/
.menuF {
  position: relative;
  top: 40px;
  padding: 30px;
  background: #2525a4;
  border-radius: 100%;
  cursor: pointer;
  font-size: small;
  box-shadow: 7px 7px 15px rgba(18, 56, 170, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0);
}
.menuF::before, .menuF::after {
  content: "";
  background: #dfdde4;
  border-radius: 5px;
  width: 30px;
  height: 5px;
  position: absolute;
  left: 16px;
  top: 27px;
  transition: 0.2s ease;
  z-index: 1;
}
.menuF::before {
  transform: rotate(0deg);
}
.menuF::after {
  transform: rotate(-90deg);
}
.menuF.open {
  opacity: 0.9;
}
.menuF.open::before {
  transform: rotate(45deg);
}
.menuF.open::after {
  transform: rotate(-45deg);
}
.menuF.open .button {
  opacity: 1;
  pointer-events: auto;
}
.menuF.open .button:first-of-type {
  bottom: 40px;
  right: 70px;
  background: url("") no-repeat 50%/50% #e2e2e4;
}
.menuF.open .button:nth-of-type(2) {
  bottom: 80px;
  background: url("") no-repeat 50%/50% #e8e8f3;
  transition-delay: 0.05s;
}
.menuF.open .button:last-of-type {
  bottom: 40px;
  right: -70px;
  background: url("") no-repeat 50% 45%/50% 45% #e8e8f3;
  transition-delay: 0.1s;
}

.button {
  padding: 30px;
  border-radius: 50%;
  cursor: pointer;
  background: #e8e8f3;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  box-shadow: inherit;
  transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity, 0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
}
.button:hover {
  transform: scale(1.1);
}

/*Line Footer*/
.lineF {
  border: 3px dashed rgb(8, 7, 7);
}